<!DOCTYPE html>
<html lang="pt-br" data-theme="black">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epictask</title>
    <style>.class{
        border-radius: 80px;
    }</style>
</head>
<body>

    <div class="navbar bg-base-200 shadow-sm mb-4">
        <a class="btn btn-ghost text-x1">Epictask</a>
    </div>

    
    <main class="grid grid-cols-1 gap-4  md: grind cols-2 lg: grind cols-3 place-items-center">


    <div class="card card-border bg-base-100 w-96 ">
        <div class="badge badge-accent m-4">50 Pts</div>

        <div class="card-body items-center">
          <h2 class="card-title">Criar CSS base</h2>
          <p>Fazer o CSS da pagina inicial do site</p>
          <div class="radial-progress" style="--value:50;" aria-valuenow="0" role="progressbar">50%</div>
          
          
          
        </div>

        <div class="card-actions justify-end m-4">

            <button class="btn btn-soft btn-error">Apagar</button>
          </div>
      </div>



    <div class="card card-border bg-base-100 w-96 class" >
        <div class="badge badge-success m-4">50 Pts</div>

        <div class="card-body items-center">
          <h2 class="card-title">Criar CSS base</h2>
          <p>Fazer o CSS da pagina inicial do site</p>
          <div class="radial-progress" style="--value:50;" aria-valuenow="0" role="progressbar">50%</div>
          
          
          
        </div>

        <div class="card-actions justify-end m-4">

            <button class="btn btn-soft btn-error">Apagar</button>
          </div>
      </div>



    <div class="card card-border bg-base-100 w-96">
        <div class="badge badge-success m-4">50 Pts</div>

        <div class="card-body items-center">
          <h2 class="card-title">Criar CSS base</h2>
          <p>Fazer o CSS da pagina inicial do site</p>
          <div class="radial-progress" style="--value:50;" aria-valuenow="0" role="progressbar">50%</div>
          
          
          
        </div>

        <div class="card-actions justify-end m-4">

            <button class="btn btn-soft btn-error">Apagar</button>
          </div>
      </div>

    </main>
 

    <ul>
        <li>Tarefa 1</li>
        <li>Tarefa 2</li>
        <li>Tarefa 3</li>
    </ul>

</body>
</html> 